@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
            <img class="livro1" src="~/img/tela.png" />
            <img class="livro" src="~/img/livros.png" />
            <img class="livro3" src="~/img/tela3.png" />
    </h1>
    <p> <a href=""></a></p>
</div>
